* {
    background: {background};
    foreground: {foreground};
    normal-background: {color0};
    normal-foreground: {foreground};
    alternate-normal-background: {color8};
    alternate-normal-foreground: {foreground};
    selected-normal-background: {color4};
    selected-normal-foreground: {background};
    active-background: {color4};
    active-foreground: {background};
    urgent-background: {color11};
    urgent-foreground: {background};
}
